<div class="row">
  <div class="col-sm-6" *ngFor="let product of products">
    <div class="card custom-card">
      <img class="card-img-top" [src]="product.imageUrl" alt="Product image">  <!-- Display product image -->
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>  <!-- Display product name -->
        <p class="card-text">{{ product.description || 'No description available.' }}</p>  <!-- Display product description -->
        <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>  <!-- Display product price -->
        <a href="#" class="btn btn-primary custom-btn">Buy Now</a> 
      </div>
    </div>
  </div>
</div>
